*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #343434;
}

h1{
    color: #343434;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

.sil{
    background-image: linear-gradient(to top, hsla(147, 93%, 79%, 0.604) 0%, hsla(58, 91%, 75%, 0.601) 100%), url(../media/kindel.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* Header */

header{
    height: 500px;
    display: flex;
    background-image: linear-gradient(to top, hsla(147, 93%, 79%, 0.601) 0%, hsla(58, 91%, 75%, 0.601) 100%), url(../media/kindel.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    margin-right: 10px;
}

nav{
    text-align: right;
    padding-right: 30px 50px 0 0; 
}

nav a{  
    font-weight: 600;
    text-decoration: none;
    margin-right: 10px;
    
}

nav a:hover{
    opacity: 0.7;
}

/* body */

.container1{
    padding: 60px 0;
    background: #96fbc4;
    justify-content: space-evenly;
    display: flexbox;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    flex-wrap: wrap;
}


.container1 .geaseeds{
    justify-content: space-evenly;
    display: flexbox;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.container1 .geaseeds img{
    justify-content: space-evenly;
    display: flexbox;
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.container2{
    padding: 60px 0;
    background: white;
    justify-content: space-evenly;
    display: flexbox;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    flex-wrap: wrap;
}

.container2 .vapos{
    justify-content: space-evenly;
    display: flexbox;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.container2 .vapos img{
    justify-content: space-evenly;
    display: flexbox;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.container2 .vapos a{
    justify-content: space-evenly;
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;   

}


/* Footer */

footer{
    padding: 0px 0px;

}

.container-footer{
    padding: 0px 40px;
    background-image: linear-gradient(to top, hsla(147, 93%, 79%, 0.604) 0%, hsla(58, 91%, 75%, 0.601) 100%), url(../media/kindel.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: auto;
}

.box-footer .logo-f img{
    width: 120px;
}

.box-footer .term{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box-footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;

}

.box-footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box-footer a:hover {
    opacity: 0.7;
}

.box-footer a .fab{
    font-size: 20px;
}

.box-copyright{
    margin: 0;
    text-align: center;
    padding: 0;
    background-image: linear-gradient(to top, hsla(147, 93%, 79%, 0.604) 0%, hsla(58, 91%, 75%, 0.601) 100%), url(../media/kindel.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.box-copyright p{
    margin-top: 20px;
    color: #7a7a7a;

}

.box-copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/* Responsive */

/* R.Header */
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav {
        padding: 10px 0;
    }
}

/* R.Footer */