{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

<body>
    <div class="container1">
        <h1>Semillas</h1>
        <div class="geaseeds">
            <a href=""><img src="static/media/Critical Purple - Geaseeds Pack x 1.png" alt="">Critical Purple - Geaseeds Pack x 1</a>
            <a href=""><img src="static/media/Amnesia Pro Feminizada - Geaseeds Pack x 1.png" alt="">Amnesia Pro Feminizada - Geaseeds Pack x 1</a>
            <a href=""><img src="static/media/Critical Purple - Geaseeds Pack x 3.png" alt="">Critical Purple - Geaseeds Pack x 3</a>
            <a href=""><img src="static/media/Auto M8 - Geaseeds Pack x 3.png" alt="">Auto M8 - Geaseeds Pack x 3</a>
            <a href=""><img src="static/media/Auto Critical - Geaseeds Pack x 3.png" alt="">Auto Critical - Geaseeds Pack x 3</a>
            <a href=""><img src="static/media/Auto Ak - Geaseeds Pack x 3.png" alt="">Auto Ak - Geaseeds Pack x 3</a>
            <a href=""><img src="static/media/Amnesia Feminizada - Geaseeds Pack x 3.png" alt="">Amnesia Feminizada - Geaseeds Pack x 3</a>
            <a href=""><img src="static/media/Amnesia Pro Feminizada - Geaseeds Pack x 3.png" alt="">Amnesia Pro Feminizada - Geaseeds Pack x 3</a>
        </div>
    </div>
    <div class="container2">
        <h1>Vaporizadores</h1>
        <div class="vapos">
            <a href=""><img src="static/media/vapo1.png" alt="">Critical Purple - Geaseeds Pack x 1</a>
            <a href=""><img src="static/media/vapo2.png" alt="">Vape Smoke-Kit de vaporizador de 160W, caja Mod de 60W/120W/160W, potencia ajustable, batería de 2200mah, pulverizador para cigarrillos electrónicos de 3,5 ml</a>
            <a href=""><img src="static/media/vapo3.png" alt="">vaper vaper electronico vape cigarrillos electrónicos Cigarrillo electrónico Original TGGD CBD, cigarrillo electrónico con batería recargable de 270mah, bobina de cerámica de 1ml y 1.4Ω, cigarrillo electrónico YFTK</a>
            <a href=""><img src="static/media/vapo4.png" alt="">apor Smoke Kits P8 100W Box Mod Vape Kit, batería de 2200mAh, 40w/80w/100w, potencia ajustable, tanque de 2,5 ml, barra vaporizadora de cigarrillos electrónicos</a>
            <a href=""><img src="static/media/vapo5.png" alt="">Cigarrillo electrónico Mod P10, caja de vapeo de 120W, Kit de voltaje ajustable, batería integrada de 1800mah con tanque de 3ml, vaporizador líquido</a>
            <a href=""><img src="static/media/vapo6.png" alt="">VAPMOD-vaporizador Dragoo 3D Box Mod Original, batería de precalentamiento de 650mAh, voltaje Variable para tanques de cartuchos de aceite gruesos 510</a>
            <a href=""><img src="static/media/vapo7.png" alt="">Backwoods-Batería de precalentamiento Bend de 1100mah, batería de precalentamiento inferior, Dial de voltaje Variable, bolígrafo para Cartucho de enlace de cera Thich</a>
            <a href=""><img src="static/media/vapo8.png" alt="">Cigarrillo electrónico Vape Smoke 120w box mod kit 1800mah Batería 2.5ml Atomizador Pantalla OLED Cigarrillo electrónico Vaporizador Vapor vaper</a>
        </div>
    </div>    

</body>


    
    
{% endblock %}
